{% load static %}
<hmtl>
    <head>
        <title>Ethereum-wallet</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet'>
        <link href="{% static 'css/base.css' %}" rel='stylesheet'>
    </head>
    <body>
        <div>
            <header>
            <div class='nav-left'>
                <h1> <a href="{% url 'Home'%}">Home</a> | <a href="{% url 'Transactions'%}">Transactions</a> | <a href="{% url 'New_token'%}">Tokens</a></h1>
            </div>
            </header>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>