{% extends 'base.html'%}
{% load static %}

{% block content %}
    <h1>Transactions</h1>

    <table class="table table-bordered table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Time</th>
                <th>Direction</th>
                <th>Sender</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td scope="row">{{ payment.time }}</td>
                        <td>{{ payment.direction }}</td>
                        <td>{{ payment.sender }}</td> 
                        <td>{{ payment.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <form method='post' action="{% url 'Transactions' %}">
        {% csrf_token %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle fruit-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by...
            </button>
            <input type="hidden" name="sort_button" id="sort_button" value="">
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Time</a></li>
                <li><a class="dropdown-item" href="#">Sender</a></li>
                <li><a class="dropdown-item" href="#">Value</a></li>
            </ul>
            <button type='submit' class='btn btn-primary'>submit</button>
        </div>
    </form>
    <script>
        $(document).ready(function() {
        $('.dropdown-item').click(function() {
        $('.fruit-btn').text($(this).text());
        $('.fruit-btn').val($(this).text());
        $('#sort_button').val($(this).text());
        console.log($('#sort_button').val())
        })
        })
    </script>
{% endblock content %}

